/* General */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

section {
  padding: 120px 0;
}
/* header */
.head-style {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
/* logo */
.nav-style .logo {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-right: 76px;
}

.nav-style .logo .logo-color {
  color: #2e2f42;
}
/* navigation */
.nav-style .nav-menu .nav-menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-style .nav-menu .nav-menu-link.active {
  color: #404bbf;
}
.nav-menu-link:hover,
.nav-menu-link:focus {
  color: #404bbf;
}
.nav-menu-link::after {
  content: '';
  position: absolute;
  display: block;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-link.active::after {
  opacity: 1;
}
/* contacts */
.contacts {
  font-style: normal;
}

.contacts .contacts-style .mail-style {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .contacts-style .mail-style:hover,
.contacts .contacts-style .mail-style:focus {
  color: #404bbf;
}

.nav-menu,
.contacts-style,
.nav-style,
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu,
.contacts-style {
  gap: 40px;
}
/* first section  */
.title {
  background-color: #2e2f42;
  padding-bottom: 188px;
  padding-top: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
  background-position: center center;
}

.title .page-title {
  color: #fff;
  font-weight: 700;
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto 48px;
}

.title .service {
  background-color: #4d5ae5;
  display: block;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  color: #ffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  border-radius: 4px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title .service:hover,
.title .service:focus {
  background-color: #404bbf;
}
/* second section */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.strategy .strategy-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.strategy .strategy-text {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.strategy-list {
  display: flex;
  gap: 24px;
}
.strategy-item {
  width: calc((100% - 3 * 24px) / 4);
}
.strategy-icon {
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
}
/* third section  */
.team {
  background-color: #f4f4fd;
}

.team .team-title {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team .team-list {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 3 * 24px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}

.box {
  padding: 32px 0;
}

.team .team-section {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.team .team-text {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-box {
  display: flex;
  align-items: center;
  gap: 24px;
}
.team-link {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}
.team-link-item {
  width: 40px;
  height: 40px;
}
.team-social {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon {
  fill: #f4f4fd;
}
/* four section  */
.portfolio .team-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-box {
  width: calc((100% - 2 * 24) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-box:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio .team-section {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio .team-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.port-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio .team-box {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.box-overlay {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-box:hover .overlay {
  transform: translateY(0);
}
.team-social:hover,
.team-social:focus {
  background-color: #404bbf;
}
/* 
.info {
} */
/* footer  */

.footer-style {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-style .logo {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-style .logo-color {
  color: #f4f4fd;
}

.footer-style .paragraph-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-social-list {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-social-box {
  gap: 16px;
  display: flex;
}

.footer-icon {
  fill: #f4f4fd;
}

.footer-logo {
  margin-right: 120px;
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-social {
  margin-right: 80px;
}
.subscribe-footer {
  display: flex;
  flex-direction: column;
}
.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.subscribe-form {
  display: flex;
  gap: 24px;
}
.footer-label {
}
.subscribe-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  outline: none;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  transition: border-color 250ms linear;
  border: none;
  border: 1px solid #ffffff;
}
.subscribe-input:focus {
  border-color: #404bbf;
}
.subscribe-input::placeholder {
  color: #fff;
}
.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  white-space: nowrap;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 165px;
  cursor: pointer;
  border: none;
}
.footer-button:hover,
.footer-button:focus {
  background-color: #404bbf;
}
.subscribe-icon {
  margin-left: 16px;
}
/* ====MODAL==== */

.modal-overlay {
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: var(--dairy);
  width: 408px;
  min-height: 584px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #fcfcfc;
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  max-width: 360px;
  margin-bottom: 16px;
}

.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 62px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-div {
  margin-bottom: 8px;
}
.modal-textarea {
  display: block;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.policy-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 24px;
  margin-top: 16px;
}
.policy-link {
  line-height: 1.33333;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.modal-btn {
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  min-height: 56px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  font-family: inherit;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}
.checkbox-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrapper {
  position: relative;
}
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}
.modal-input:focus,
.modal-textarea:focus {
  border-color: #4d5ae5;
}
.modal-checkbox:checked + .checkbox-label .custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.policy-link {
  color: #4d5ae5;
}
.checkbox-wrapper {
  margin-bottom: 24px;
}
.input-div.input-textarea {
  margin-bottom: 16px;
}
